# Database
DB_NAME=osoc_dev
DB_USER=user
DB_PASSWORD=password
DB_HOST="0.0.0.0"
DB_PORT=3306
# JWT key (needs to be changed for production)
# Can be generated using "openssl rand -hex 32"
SECRET_KEY=4d16a9cc83d74144322e893c879b5f639088c15dc1606b11226abbd7e97f5ee5
# The JWT token should be valid for 24*7(=168) hours
ACCESS_TOKEN_EXPIRE_HOURS = 168

# Frontend
FRONTEND_URL="http://localhost:3000"