# Alembic: Database migrations extension for SQLAlchemy
alembic==1.7.6

# Environs: simplified environment variable parsing
environs==9.5.0

# FastAPI: API framework
fastapi==0.74.1

# MariaDB: Python MariaDB connector
mariadb==1.0.10

# Requests: HTTP library
requests==2.27.1

# Starlette: lightweight ASGI framework/toolkit
starlette==0.17.1

# SQLAlchemy: ORM and database toolkit
SQLAlchemy==1.4.31

# Uvicorn: ASGI web server implementation
# The packages below it are included in the uvicorn[standard] variant,
# but if we add that instead then we can't require specific versions anymore
# so all extra standard dependencies are listed independently
# This is essentially a snapshot of the versions required by uvicorn[standard],
# so they should not be updated through something like Dependabot
uvicorn==0.17.5
websockets==10.2
httptools==0.3.0
uvloop==0.16.0
watchgod==0.7
python-dotenv==0.19.2
pyYAML==6.0
