# Coverage: generate code coverage reports
coverage==6.3.1

# Pylint: Python linter
pylint==2.12.2

# Pytest: Python testing framework
# (more advanced than the built-in unittest module)
pytest==7.0.1

# Pytest-cov: coverage plugin for pytest
pytest-cov==3.0.0

# Pylint: check your codestyle
pylint==2.12.2