.form-check {
    margin-left: 5%;
    margin-bottom: 1vh;
}

.ButtonGroupContainer {
}

.btn-group>.btn.active {
    color: black;
}

.btn-primary:focus {
    background-color: var(--background_color);
}

.YesToggle {
    margin-right: 4%;
    margin-bottom: 2.5%;
    width: 10%;
    color: var(--osoc_green);
    background-color: var(--background_color);
    border: 1px solid var(--osoc_green) !important;
    z-index: 0 !important;
}

.btn-group>.btn.active.YesToggle {
    background-color: var(--osoc_green);
}

.btn-primary:focus.YesToggle {
    border: 1px solid var(--osoc_green) !important;
}

.YesToggle:hover {
    background-color: var(--osoc_green);
    color: black;
}

.MaybeToggle, .MaybeToggle:hover {
    margin-bottom: 2.5%;
    width: 10%;
    color: var(--osoc_orange);
    background-color: var(--background_color);
    border: 1px solid var(--osoc_orange) !important;
    z-index: 0 !important;
}

.btn-group>.btn.active.MaybeToggle {
    background-color: var(--osoc_orange);
}

.MaybeToggle:hover {
    background-color: var(--osoc_orange);
    color: black;
}

.NoToggle, .NoToggle:hover {
    margin-right: 4%;
    width: 10%;
    color: var(--osoc_red);
    background-color: var(--background_color);
    border: 1px solid var(--osoc_red) !important;
    z-index: 0 !important;
}

.btn-group>.btn.active.NoToggle {
    background-color: var(--osoc_red);
}

.NoToggle:hover {
    background-color: var(--osoc_red);
    color: black;
}

.UndecidedToggle, .UndecidedToggle:hover {
    width: 10%;
    color: lightgrey;
    background-color: var(--background_color);
    border: 1px solid lightgrey !important;
    z-index: 0 !important;
}

.btn-group>.btn.active.UndecidedToggle {
    background-color: lightgrey;
}

.UndecidedToggle:hover {
    background-color: lightgrey;
    color: black;
}
