.side-menu {
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 325px;
    height: 100vh;
    border-right: 2px solid #163542;
}

.search-student {
    width: 80%;
    align-self: center;
    margin-top: 20px;
}

.roles-dropdown {
    width: 80%;
    align-self: center;
    margin-top: 10px;
}