

.register-form-content-container {
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.register-button {
    height: 40px;
    width: 400px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    background: var(--osoc_green);
    color: white;
    border: none;
    border-radius: 10px;
}

.login-button {
    width: 120px;
    height: 35px;
    cursor: pointer;
    background: var(--osoc_green);
    color: white;
    border: none;
    border-radius: 5px;
}


.socials-register {
    display: flex;
}


.no-account {
    padding-bottom: 15px;
}
