:root {
    --osoc_blue: #131329;
    --osoc_orange: #fcb70f;
    --osoc_red: #f14a3b;
    --osoc_green: #44dba4;
    --react_dark_grey: #343434;
    --custom_light_blue: #00bfff;
    --background_color: #131326;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background_color);
    color: white;
}
