:root {
    --osoc_blue: #0a0839;
    --osoc_orange: #fcb70f;
    --osoc_red: #f14a3b;
    --osoc_green: #44dba4;
    --react_dark_grey: #343434;
    --custom_light_blue: #00bfff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--react_dark_grey);
    color: white;
}

.welcome-text {
    max-width: 800px;
    text-align: center;
    justify-content: center;

}

.logo-plus-name {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.login-page-content-container {
    max-width: 800px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.osoc-logo-O1 {
    position: absolute;
    width: 15%;
    height: 15%;
    left: 5%;
    top: 15%;
    animation: change-size 3s infinite linear;
}

.osoc-logo-S {
    position: absolute;
    width: 20%;
    max-height: 20%;
    bottom: 15%;
    left: 15%;
    animation: wiggle 5s infinite linear;
}

.osoc-logo-O2 {
    position: absolute;
    width: 10%;
    height: 10%;
    right: 20%;
    top: 15%;
}

.osoc-logo-C {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 10%;
    bottom: 15%;
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateX(5px) translateY(5px) rotate(-5deg);
    }
    50% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    75% {
        transform: translateX(-5px) translateY(-5px) rotate(10deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
}

@keyframes change-size {
    0% {
        width: 15%;
        height: 15%;
    }
    80% {
        width: 13%;
        height: 13%;
    }
    93% {
        width: 13%;
        height: 13%;
    }
    95% {
        width: 15%;
        height: 15%;
    }
    97% {
        width: 13%;
        height: 13%;
    }
    100% {
        width: 15%;
        height: 15%;
    }
}