:root {
    --osoc_blue: #131329;
    --osoc_orange: #fcb70f;
    --osoc_red: #f14a3b;
    --osoc_green: #44dba4;
    --react_dark_grey: #343434;
    --custom_light_blue: #00bfff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--osoc_blue);
    color: white;
}

.welcome-text {
    max-width: 800px;
    text-align: center;
    justify-content: center;

}

.logo-plus-name {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.login-page-content-container {
    max-width: 800px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.osoc-logo-O1 {
    position: absolute;
    width: 15%;
    height: 15%;
    left: 5%;
    top: 15%;
    animation: change-size 5s infinite linear;
}

.osoc-logo-S {
    position: absolute;
    width: 20%;
    max-height: 20%;
    bottom: 15%;
    left: 15%;
    animation: wiggle 5s infinite linear;
}

.osoc-logo-O2 {
    position: absolute;
    width: 5%;
    height: 5%;
    right: 20%;
    top: 25%;
    animation: quick-jump 6s infinite linear;
}

.osoc-logo-C {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 10%;
    bottom: 15%;
    animation: rotation 20s infinite linear;
}


@keyframes quick-jump {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    96% {
        transform: translateX(0px) translateY(0px);
    }
    98% {
        transform: translateX(90px) translateY(90px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateX(5px) translateY(5px) rotate(-5deg);
    }
    50% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    75% {
        transform: translateX(-5px) translateY(-5px) rotate(10deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
}

@keyframes change-size {
    0% {
        width: 15%;
        height: 15%;
        left: 5%;
        top: 15%;
    }
    80% {
        width: 13%;
        height: 13%;
        left: 6%;
        top: 16%;
    }
    93% {
        width: 13%;
        height: 13%;
        left: 6%;
        top: 16%;
    }
    95% {
        width: 15%;
        height: 15%;
        left: 5%;
        top: 15%;
    }
    97% {
        width: 13%;
        height: 13%;
        left: 6%;
        top: 16%;
    }
    100% {
        width: 15%;
        height: 15%;
        left: 5%;
        top: 15%;
    }
}

/*
RegisterForm
 */

.register-form-content-container {
    max-width: 800px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.register-form-input-fields {
    text-align: center;
}

.register-form-input-fields span {
    font-size: 30px;
}

.register-form-input-fields input {
    height: 40px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}

.register-button {
    width: 120px;
    height: 35px;
    cursor: pointer;
    background: var(--osoc_red);
    color: white;
    border: none;
}

/*
PendingPage
 */

.pending-page-content-container {
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pending-page-content-container span {
    font-size: 40px;
    display: block;
    position: relative;
}

.pending-page-content {
    min-width: 800px;
    max-width: 1200px;
}