.login-buttons {
    width: available;
    margin-top: 60px;
}

.login-button {
    display: block;
    position: relative;
    width: 280px;
    height: 40px;
    font-size: 25px;
    padding: 0.2rem;
    background: white;
    cursor: pointer;
    color: var(--react_dark_grey);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

.login-button-content {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.email-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.github-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/*
.login-button {
    display: block;
    position: relative;
    width: 250px;
    font-size: 25px;
    padding: 0.3rem;
    background: white;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}*/
/*
    red button

.red-login-button {
    display: block;
    position: relative;
    width: 250px;
    font-size: 25px;
    padding: 0.3rem;
    background: transparent;
    border: 3px solid var(--osoc_red);
    cursor: pointer;
    user-select: none;
    color: white;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 10px;
}

.red-login-button:hover{
    background: var(--osoc_red);
}

.red-login-button:hover{
    color: white;
}
*/


/*
    green button


.green-login-button {
    display: block;
    position: relative;
    width: 250px;
    font-size: 25px;
    padding: 0.3rem;
    background: transparent;
    border: 3px solid var(--osoc_green);
    cursor: pointer;
    user-select: none;
    color: white;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 10px;
}

.green-login-button:hover{
    background: var(--osoc_green);
}

.green-login-button:hover{
    color: white;
}
*/
